.book__filing__card{
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content auto 1fr; // faire une minmax :thinking:
  grid-gap: 10px;

  .book__filing__title{
    grid-column: 8/13;
    grid-row: 1;
    //text-align: right;

  }
  .book__filing__name__artist{
    color: white;
  }
  .img{
    grid-column: 2/8;
    grid-row: 2;
  }
  .book__filing__txt{
    margin-top: 0;
    grid-row: 2;
    grid-column: 8/span 5;
  }
  .btn-a{
    grid-row: 2;
    grid-column: span 3/12;
    height: max-content;
    margin-top:auto;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  .book__filing__show{
    cursor: pointer;
    grid-row:2;
    grid-column: 8/13;
    margin-top:auto;
    padding: 10px;
    //margin-bottom: 273px; //find a good 'px' to % or change grid-template
    img{
      width: 150px;
      transition: width 0.3s ease-in-out;

      &:hover{
        width: 180px;
        transition: width 0.3s ease-in-out;
      }
    }
  }


}