div.img{
  position: relative;
  z-index: 1;
  &::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1rem;
    left: -1.3rem;
    border: 4px solid $font-border-color;
    content: '';
    z-index: 2;
  }
}


.burger-menu {
  position: relative;
  width: 4em;
  height: 0.2em;
  background-color: $font-title-color;
  margin: 0 0 30px;
  &:after, &:before {
    position: absolute;
    content: '';
    width: 35px;
    height: 100%;
    background-color: inherit;
    transform-origin: center center;
    transition: transform .25s ease, top .25s ease, bottom .25s ease;
    left: 5px;
  }
  &:before {
    top: -10px;
  }
  &:after {
    bottom: -10px;
  }
}

.button{
  width: 50px;
  margin: -100px auto 90px auto ;
  border-radius: 50%;
  height: 50px;
  position: relative;
  background-color: $font-border-color;
  text-indent: -999px;
  border:none;
  &:after, &:before{
    position: absolute;
    content: '';
    width: 25px;
    height: 3px;
    top: 50%;
    left: 13px;
    background-color: $bck-body;

  }
  &:after{
    transform: rotate(90deg);

  }
  &:before{
    transform: rotate(0deg);

  }
}
.btn{
  text-decoration: underline;
  color: $font-title-color;
}
#Capa_1{
  fill: yellow;
  width: 50px;
  position: absolute;
  top: 75%;
  left: 50%;
}


