div.img{
  position: relative;
  z-index: 1;
  &::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1rem;
    left: -1rem;
    border: 4px solid $font-border-color;
    content: '';
    z-index: 2;
  }
}