/* variable*/
$bck-body: #181818;
$font-title-family: 'Novecentowide-Bold';
$font-principal: 'Lexend Deca', sans-serif;
$font-size: 10px;
$font-title-color: rgb(255, 230, 0);
$font-border-color: rgba(255, 230, 0, 0.5);
/* IMPORT */
@import "desktop";
@import "reset.scss";
@import "font";
@import "graphic";
@import "slide";
@import "animation";
@import "form";

/* HEADER */
.hidden, div.heading {
  //background-color: $bck-body;
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
  left: -320px;
}

body {
  font-size: $font-size;
  font-family: $font-principal;
  background-color: $bck-body;
  color: white;
  flex-direction: column;

  //overflow: hidden;
}

nav {
  //min-height: 100vh;

  ul {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;

    &.flex {
      flex-direction: column;
    }
    li {
      cursor: pointer;
      margin: 5px 0 25px;
      font-size: 3em;
      font-family: $font-title-family;
      color: $bck-body;
      text-shadow: -1px 0 $font-title-color, 0 1px $font-title-color, 1px 0 $font-title-color, 0 -1px $font-title-color;
    }

    a:hover, .focus {
      color: $font-title-color;
      text-shadow: 0 0 $font-title-color;
    }

  }
}

h1, h2, h3, h4 {
  font-family: $font-title-family;
  color: $font-title-color;
  margin: 10px 0;
}

div.toggle {
  position: fixed;
  height: 4.6em;
  width: 4.6em;
  right: 1em;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  margin-top: 25px;
}

a {
  color: $bck-body;
  text-decoration: none;
}


section {
  margin-bottom: 25px;
  border-bottom: 1px solid $font-border-color;
  padding: 20px 0;
}


  .facebook__title, .event__title, .library__title, .book__title, .header__title{
    padding: 0 10px;
    h2 {
      font-size: 5.236em;
      letter-spacing: -0.08em;
    }
    p {
      color: $font-title-color;
      margin-top: -5px;
      font-size: 3.236em;
    }
  }
.facebook__card, .event__card, .book__card, .library__card,.exhib__about, .header__about, .book__about {
  & a.btn-a{
    font-size: 1.236em;
    margin-left: auto;
    margin-top: 30px;
    margin-right: 10px;
  }
}
.event__card:not(:last-child){
  padding-bottom: 25px;
  border-bottom: 1px solid $font-border-color;
}
.book__card{
  position: relative;
}
.facebook__card {
  margin: 50px 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.txt {
  text-align: left;
  line-height: 35px;
  font-size: 20px;
  margin-top: 15px;
  padding: 0 10px;
}

img {
  width: 100%;
}

.event__date {
  display: flex;
  padding: 0 10px;
  span{
    color: $font-title-color;

  }
  p:nth-child(2) {
    text-align: right;
    margin-top: 30px;
    font-size: 3.236em;
  }
}
.event__date__day {
  font-size: 10.236em;
  font-family: $font-title-family;
  color: $font-title-color;

}
.event__subtitle {
  font-size: 1em;
  text-align: right;
  padding: 0 10px;
  & p{
    font-size: 3.236em;
  }
}
h3 {
  padding: 0 10px;
    font-size: 3.854em;
  &.event_name_artist{
    font-size: 2.854em;
    text-align: justify;
  }
  &.book__name__artist{
    font-size: 2.854em;
    padding: 0;
  }
  &.about__title{
    font-size: 2.854em;

  }
}

.library__hidden__txt {
  margin-top: -5px;
  max-height: 150px;
  overflow: hidden;
  opacity: 0.3;
}

a.btn-a {
  width: max-content;
  color: yellow;
  flex-direction: row;
  padding: 15px 10px;
  border: 1px solid $font-border-color;
}

h1 {
  font-size: 10em;
  //margin: 0.5em;
  color: $font-title-color;
  font-family: $font-title-family;

  display: flex;
  //justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  span:nth-child(1) {
    margin-right: auto;
  }
  span:nth-child(3) {
    margin-right: auto;
  }

}

h1:nth-child(2) {
  margin-top: auto;
}

.flex {
  display: flex;
  flex-direction: column;
}

footer{
  min-height: 25px;
  padding: 15px;
}
ul{
  &.footer__link{
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    font-size: 1.4em;
    li{
      margin:25px 0;
      align-self: center;
    }
    a {
      color: white;
    }
  }
}











